/* Styles for the root element of the application */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Styles for the image components */
.img_comp {
  border: 4px solid rgb(27, 97, 163); /* Blue border */
  border-radius: 20px; /* Makes the image square with rounded corners */
}

/* Styles for the body element (background image) */
body {
  background-image: url("./assets/exoplanet-in-deep-space.jpg");
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-attachment: fixed; /* Keep background fixed during scroll */
  background-position: center center; /* Center the background image */
}

/* Styles for the image container (Flexbox layout) */
.image-container {
  display: grid; /* Enable CSS Grid */
  grid-template-columns: repeat(2, 1fr); /* Create two columns of equal width */
  gap: 10px; /* Space between grid items */
  justify-content: center; /* Center the grid horizontally */
  place-items: center; /* Center items within each grid cell */
}

/* Styles for each individual image item (image and title) */
.image-item {
  text-align: center; /* Center the text and image within each item */
}

.image-item h3 {
  color: #888888; /* Solid grey color, same as .gundamHeader */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Subtle text shadow, same as .gundamHeader */
  font-size: 30px;
}

/* Styles for the main header */
.gundamHeader {
  color:  #888888; /* Solid grey color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Subtle text shadow */
  font-size: 60px; /* Large font size */
}
