/* Styles for the root element of the application */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Styles for the image components */
.img_comp {
  border: 4px solid rgb(27, 97, 163); /* Blue border */
  border-radius: 50%; /* Makes the image circular */
}

/* Styles for the body element (background image) */
body {
  background-image: url("./assets/exoplanet-in-deep-space.jpg");
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-attachment: fixed; /* Keep background fixed during scroll */
  background-position: center center; /* Center the background image */
}

/* Styles for the image container (Flexbox layout) */
.image-container {
  display: flex; /* Enable Flexbox */
  flex-wrap: wrap; /* Allow images to wrap to the next line */
  gap: 20px; /* Space between images */
  justify-content: center; /* Center images horizontally */
}

/* Styles for the main header */
.gundamHeader {
  color:  #888888; /* Solid grey color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Subtle text shadow */
  font-size: 85px; /* Large font size */
}
